body
{
	background-color:#f8f9f9;
}

.nav
{
	height: 90px;
}
.logo
{
	font-family: Consolas;
	font-size: 24px;
	color: #575555;
	-webkit-border-radius: 4px/6px;
	-moz-border-radius: 4px/6px;
	border-radius: 4px/6px;
	background-color: #efebeb;
	-webkit-box-shadow: 3px 4px 9px rgba(1,2,4,.3);
	-moz-box-shadow: 3px 4px 9px rgba(1,2,4,.3);
	box-shadow: 3px 4px 9px rgba(1,2,4,.3);
	border: solid 2px #dcd9d9;
	position: absolute;
	top: 10px;
	padding: 10px 15px;
	margin-top: 10px;
}
.topics-block-wrapper
{
	text-align: center;
	margin:0px 100px 50px 100px;
}
.topics-block-wrapper2{
	text-align: center;
	margin:90px 0px 0px 0px;
	background-color: #efebeb;
	height: 100%;
	border: solid 2px #dcd9d9;
}
.topics-block-wrapper:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em; /* Adjusts for spacing */
}
.topics-block
{
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}

.title
{
	text-align: center;
	font-family: PT sans;
	font-size: 30px;
	color: #575555;
	text-decoration:none;
}
.topics-list
{
	 margin: 0 10px;
	 margin-top: 80px;
	 display: inline-block;
}

.topic
{
	width: 200px;
	height: 250px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #efebeb;
	border: solid 3px #dcd9d9;
	display: inline-block;
	float: left;
	margin: 13px 13px;
	-webkit-box-shadow: 3px 4px 9px rgba(1,2,4,.3);
	-moz-box-shadow: 3px 4px 9px rgba(1,2,4,.3);
	box-shadow: 3px 4px 9px rgba(1,2,4,.3);
	cursor: pointer;
}
.topic-img
{
	margin: 5px;
	margin-top: 15px;
	display: block;
}
.small-title
{
	font-family: PT Sans;
	font-size: 24px;
	color: #575555;
	display: block;
	margin-top: 20px;
	text-decoration:none;
}
.main-body
{
	left:100px;
	right:100px;
	height: 800px;
	position: absolute;

}

.nav-small
{
	display: block;
	width:290px;
	height: 45px;
	position: absolute;
	margin-top: -49px;
	left: 0px;
}

.themes
{
	left:20px;
	right:20px;
	position: absolute;
}

.themes-list
{
	margin: 30px 15px;
}
.theme a
{color: inherit; }
.theme
{
	font-family: PT Sans;
	font-size: 18px;
	text-decoration: underline;
	color: #575555;
	text-align: left;
	padding: 15px 10px;
}

.theme-img
{
	width:15px;
	height:12px;
	margin-right: 5px;
}

.nav-small-block-0,.nav-small-block-1
{
	display: block;
	width:145px;
	height: 45px;
	position: absolute;
	-webkit-border-radius: 6px 6px 0px 0px;
	-moz-border-radius:6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;
	background-color: #efebeb;
	border-top: solid 2px #dcd9d9;
	border-left: solid 2px #dcd9d9;
	border-right: solid 2px #dcd9d9;
	font-family: PT Sans;
	font-size: 20px;
	color: #575555;
	cursor: pointer;
}
.nav-small-block-0
{
	left:0px;
	width:155px;
	height: 57px;
	margin-top: -10px;
	z-index: 10;
	line-height: 57px;
}
.nav-small-block-1
{
	left:145px;
	border-bottom: solid 2px #dcd9d9;
	line-height: 45px;
}
.nav-small-img
{
	width: 20px;
	height: 20px;
	margin-top: -3px;
}

.form
{
	min-height:400px;
	width: 100%;
	background-color: #efebeb;
	border: solid 3px #dcd9d9;
	margin: 10px 25px;
	text-align: left;
}

.problem-title
{
	text-align: center;
	font-family: PT sans;
	font-size: 30px;
	color: #575555;
	text-decoration:none;
	padding-top: 20px;
}
.problem-author, .problem-name, .problem-add
{
	height: 20px;
	font-family: PT Sans;
	font-size: 20px;
	color: #575555;
	padding: 15px 50px;
	font-weight: bold;
	position: relative;
}

.form-container {
   border: 1px solid #f2e3d2;
   background: #efebeb;
   background: -webkit-gradient(linear, left top, left bottom, from(#efebeb), to(#efebeb));
   background: -webkit-linear-gradient(top, #efebeb, #efebeb);
   background: -moz-linear-gradient(top, #efebeb, #efebeb);
   background: -ms-linear-gradient(top, #efebeb, #efebeb);
   background: -o-linear-gradient(top, #efebeb, #efebeb);
   background-image: -ms-linear-gradient(top, #efebeb 0%, #efebeb 100%);
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   font-family: 'Helvetica Neue',Helvetica,sans-serif;
   text-decoration: none;
   vertical-align: middle;
   min-width:300px;
   padding:20px;
   width: 100%;
   margin-top: 50px;
   text-align:left;
   }
.form-field {
   border: 1px solid #c9b7a2;
   background: #f8f9f9;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   color: #c9b7a2;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding:8px;
   margin-bottom:20px;
   width:280px;
   }
.form-field:focus {
   background: #fff;
   color: #725129;
   }
.form-container h2 {
   text-shadow: #fdf2e4 0 1px 0;
   font-size:18px;
   margin: 0 0 10px 0;
   font-weight:bold;
   text-align:center;
    }
.form-title {
   margin-bottom:10px;
   color: #725129;
   text-shadow: #fdf2e4 0 1px 0;
   text-align: left;
      display: inline;
   }
.submit-container {
   margin:8px 0;
   text-align:right;
   }
.submit-button {
   border: 1px solid #ffffff;
   background: #dedbdb;
   background: -webkit-gradient(linear, left top, left bottom, from(#dedbdb), to(#dedbdb));
   background: -webkit-linear-gradient(top, #dedbdb, #dedbdb);
   background: -moz-linear-gradient(top, #dedbdb, #dedbdb);
   background: -ms-linear-gradient(top, #dedbdb, #dedbdb);
   background: -o-linear-gradient(top, #dedbdb, #dedbdb);
   background-image: -ms-linear-gradient(top, #dedbdb 0%, #dedbdb 100%);
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   text-shadow: #ffffff 0 1px 0;
   color: #575555;
   font-family: helvetica, serif;
   padding: 8.5px 18px;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   }
.submit-button:hover {
   border: 1px solid #447314;
   text-shadow: #31540c 0 1px 0;
   background: #6aa436;
   background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
   background: -webkit-linear-gradient(top, #8dc059, #6aa436);
   background: -moz-linear-gradient(top, #8dc059, #6aa436);
   background: -ms-linear-gradient(top, #8dc059, #6aa436);
   background: -o-linear-gradient(top, #8dc059, #6aa436);
   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
   color: #fff;
   }
.submit-button:active {
   text-shadow: #31540c 0 1px 0;
   border: 1px solid #447314;
   background: #8dc059;
   background: -webkit-gradient(linear, left top, left bottom, from(#6aa436), to(#6aa436));
   background: -webkit-linear-gradient(top, #6aa436, #8dc059);
   background: -moz-linear-gradient(top, #6aa436, #8dc059);
   background: -ms-linear-gradient(top, #6aa436, #8dc059);
   background: -o-linear-gradient(top, #6aa436, #8dc059);
   background-image: -ms-linear-gradient(top, #6aa436 0%, #8dc059 100%);
   color: #fff;
   }